body {
    font-family: 'Press start 2P', cursive;
    font-size: 70%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.026);
    color: white;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


.map { /* Imagen de fondo del mapa */
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(img/kanto-map.jpeg);
}

.pokedex { /* Pokedex en la esquina */
    position: absolute;
    top: 10%;
    left: 5%;
    width: 300px;
}

.title { /* Estilo del título */
    position: absolute;
    top: 1%;
    left:50%;
    right: 50%;
    font-size: 3em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    width: 190px;
    color: white;
    padding: 10px 90px;
    border-radius: 10px;
}

.cyndaquil { 
    position: absolute;
    top: 50%;
    left: 1%;
    align-items: center;
    width: 300px;
}

.gen {
    position: absolute;
    top: 50%;
    left: 25%;
    align-items: center;
    width: 300px;
}

.miew {
    position: absolute;
    top: 50%;
    left: 49%;
    align-items: center;
    width: 300px;
}

.rae {
    position: absolute;
    top: 50%;
    left: 73%;
    align-items: center;
    width: 300px;
}

/* Media queries */
@media (max-width: 768px) {
    .title {
        font-size: 2em; /* Tamaño de fuente más pequeño para tablets */
    }

    .pokedex {
        width: 80%; /* Ajustar tamaño de la Pokedex */
    }

    .cyndaquil, .gen, .miew, .rae {
        width: 80%; /* Ajustar tamaño de las imágenes */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.5em; /* Tamaño de fuente más pequeño para móviles */
    }

    .pokedex {
        width: 90%; /* Hacer la Pokedex más grande en móviles */
    }

    .cyndaquil, .gen, .miew, .rae {
        width: 100%; /* Hacer las imágenes más grandes en móviles */
    }